.vs/
x64/
jkr_src_2010_10/x64/
111_data/
*.dem
*.dfg
*.efd
*.ess
*.ptf
*.exp
*.lib
*.pdb
*.obj
*.exe
*.ilk
*.ipdb
*.iobj
*.recipe
*.tlog
*.lastbuildstate
edem_stdout.txt
edem_stderr.txt
verify_jkr_setup.out.txt
